{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div style=" padding-top: 170px; padding-bottom: 400px;" class="container">
    <div class="row">
      <div class= "col-md-2"> </div>
      <div style="color: white; background-image: url(https://i.pinimg.com/originals/5b/8c/85/5b8c85f1d33f821692e2b9be2ac2b86d.jpg);" class="col-md-8 ">
      <!-- Login form -->
      {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>
<style>

</style>
{% endblock %}
